@use "sass:math";
@use "vars" as *;
@use "../abstracts/variables" as *;
@use "../typography/fonts" as *;
@use "../utilities/bg-color" as *;

@include bg-color(".bg-", $bg-colors);

html {
	@include font-family-base;
	overflow: hidden !important;
	height: 100dvh;
	color: $neutral;
	background-color: $surface;
}

html,
body {
	overscroll-behavior: none;
}

a {
	text-decoration: none !important;
	color: unset;
}

div {
	box-sizing: border-box;
}

.container {
	max-width: 1280px;
	padding: 0 40px;
	width: 100% !important;
	margin: auto;

	@media #{$breakpoint-xs-only} {
		padding: 0 8px;
		width: calc(100% - 16px) !important;
		max-width: 479px;
	}

	@media #{$breakpoint-lg-only} {
		&-lg-only {
			max-width: 1280px;
			padding: 0 40px;
			width: 100% !important;
			margin: auto;
		}
	}

	&_with-bg {
		padding: 60px;
		outline: solid 2px $neutral-12;
		outline-offset: -2px;
		background: $white;
		border-radius: 48px;

		&-img-black {
			border-radius: 48px;
			background: transparent;
			background-image: url(/assets/img/backgrounds/album-slider.webp);
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: cover;
			padding: 60px;
			overflow: hidden;

			@media #{$breakpoint-xs-only} {
				padding: 32px 16px 32px 16px;
				border-radius: 32px;
			}
		}

		@media #{$breakpoint-xs-only} {
			width: 100% !important;
			margin: 0 auto;
			padding: 32px 24px;
			border-radius: 32px;
		}
	}

	&_bg-instrument-picker {
		position: relative;
		height: 805px;
		border-radius: 48px;
		background: transparent;
		background-image: url("/assets/img/backgrounds/instrument-picker.webp");
		background-repeat: no-repeat;
		padding: 80px 40px 80px 40px !important;
		overflow: hidden;

		@media #{$breakpoint-xs-only} {
			padding: 32px 16px 32px 16px !important;
			height: fit-content;
			background-image: none;
			border-radius: 24px;
			border: 2px solid var(--Neutral-Neutral-12, rgba(30, 31, 31, 0.12));
			background: linear-gradient(180deg, #071322 0%, #071322 100%);
			width: calc(100% - 16px);
			max-width: 375px;
		}
	}

	&_bg-band {
		padding: 3rem 40px;
		background: url(/assets/img/about/band.webp) center no-repeat;
	}

	&_albums {
		padding: 105px 40px 152px 40px;
		background-image: url("/assets/img/backgrounds/album-slider.webp");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 48px;
		overflow: hidden;

		@media #{$breakpoint-xs-only} {
			margin: auto;
			// margin-left: 0;
			// margin-right: 0;
			width: 100% !important;
			// max-width: none;
			padding: 56px 16px 96px 16px;
			border-radius: 24px;
		}
	}

	&_full {
		max-width: 1280px;
		padding: 0px;
		margin: auto;

		@media #{$breakpoint-xs-only} {
			width: calc(100% - 16px);
			max-width: 479px;
			padding: 32px 16px;
		}
		
		&-xs {
			@media #{$breakpoint-xs-only} {
				width: 100%;
				margin: auto;
				max-width: 479px;
			}
		}
	}

	// &_full-xs {
	// 	@media #{$breakpoint-xs-only} {
	// 		margin-left: 0;
	// 		margin-right: 0;
	// 		padding: 0;
	// 		width: calc(100%) !important;
	// 		// max-width: none;
	// 	}
	// }

	&_with-shadow {
		background-color: $white;
		border-radius: 48px;
		padding: 60px;
		box-shadow: 0px 0px 48px 0px #3333331f;

		@media #{$breakpoint-xs-only} {
			padding: 2rem 1.5rem;
		}
	}
}

.pos-r {
	position: relative;
}

.pos-a {
	position: absolute;
}

.img {
	&_center {
		margin: 0 auto;
	}

	&_right {
		margin: 0 0 0 auto;
	}
}

.hr {
	border: none;
	margin: 0;

	&_white-16 {
		border-top: solid 1px rgba($white, 0.16);
	}

	&_neutral-16 {
		border-top: solid 1px $neutral-16;
	}
}

.invisible {
	opacity: 0;
}

.hidden {
	visibility: hidden;
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
}

.hide {
	display: none !important;
}

@media #{$breakpoint-lg-only} {
	.hide-lg {
		display: none !important;
	}
}

@media #{$breakpoint-xs-only} {
	.hide-xs {
		display: none !important;
	}
}

.h-100 {
	height: 100%;
}

.w-xs-100 {
	@media #{$breakpoint-xs-only} {
		width: 100% !important;
	}
}

.h-lg-100 {
	@media #{$breakpoint-lg-only} {
		height: 100% !important;
	}
}

.h-auto {
	height: auto !important;
}

.w-100 {
	width: 100%;
}

.w-95 {
	width: 95%;
}

.w-85 {
	width: 85%;
}

.w-75 {
	width: 75%;
}

.w-50 {
	width: 50% !important;

	&-lg {
		@media #{$breakpoint-lg-only} {
			width: 50% !important;
		}
	}
}

.w-35 {
	width: 35% !important;

	&-lg {
		@media #{$breakpoint-lg-only} {
			width: 35% !important;
		}
	}
}

.w-25 {
	width: 25% !important;
}

.w-auto {
	width: auto !important;
}

.w-fit {
	width: fit-content;
}

.block-music {
	display: flex;
	align-items: center;
	border-radius: 48px;
	background: #fff;
	overflow: hidden;

	&__text {
		padding: 100px 40px 100px 60px;
		@media #{$breakpoint-xs-only} {
			padding: 32px 16px 32px 16px;
		}

		&.p-60 {
			padding: 60px 1.5rem 60px 60px;
			@media #{$breakpoint-xs-only} {
				padding: 32px 16px 32px 16px;
			}
		}
	}
	&__img {
		flex-shrink: 0;
	}
}

.d-flex {
	display: flex !important;

	@media #{$breakpoint-xs-only} {
		&-xs {
			display: flex !important;
		}
	}
}

.flex-col {
	flex-direction: column !important;
}

@media #{$breakpoint-xs-only} {
	.flex-col-xs {
		flex-direction: column !important;
	}
}

.fw-wrap {
	flex-wrap: wrap;
}

.jc-center {
	justify-content: center !important;
}

.jc-end {
	justify-content: end !important;
}

.jc-space-between {
	justify-content: space-between !important;
}

.jc-space-evenly {
	justify-content: space-evenly !important;
}

.ai-center {
	align-items: center !important;
}

.ai-start {
	align-items: start !important;
}

.ai-end {
	align-items: end !important;
}

.col-reverse {
	@media #{$breakpoint-xs-only} {
		flex-direction: column-reverse !important;
	}
}

.flex-shrink-0 {
	flex-shrink: 0;
}

.sticky {
	position: sticky;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute !important;
}

.bg-black-block {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding: 60px 0px 0px 60px;
	background-image: url(/assets/img/backgrounds/album-slider.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	border-radius: 32px;
	overflow: hidden;
	@media #{$breakpoint-xs-only} {
		flex-direction: column;
		align-items: center;
		padding: 60px 0px 0px 0px;
		background-size: cover;
		background-position: center;
	}

	&__text {
		padding: 0px 60px 60px 0px;

		@media #{$breakpoint-xs-only} {
			flex-direction: column;
			align-items: center;
			padding: 0px 24px 50px 20px;
		}
	}

	&__img {
		flex-shrink: 0;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.button-arrow {
	background-image: url(/assets/img/mod-4/button-arrow.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 9;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: calc(50% + 240px);
	cursor: pointer;
	border-radius: 50%;
}

.lottie-scroll {
	position: relative;
}

.top {
	top: 0;
}

.right {
	right: 0;
}

.custom-cursor-area {
	cursor: none;
}

.cursor {
	position: fixed;
	width: 100px;
	height: 100px;
	z-index: 10000;
	background-color: rgba($white, 0.4);
	backdrop-filter: blur(12px);
	border-radius: 50%;
	pointer-events: none;
	transition:
		transform 0.3s,
		visibility 0.3s;

	&_hidden {
		transform: scale(0);
		visibility: hidden;
	}

	&_arrow-down {
		background-image: url("/assets/svg/arrow-down.svg");
		background-size: 56px 56px;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.fade-page-enter-active,
.fade-page-leave-active {
	transition: opacity 0.2s ease-in-out;
}

.fade-page-enter-from,
.fade-page-leave-to {
	opacity: 0;
}

.hero-section {
	margin-top: $main-header-height;
	background-image: url(/assets/img/about/zipper.png);
	background-size: cover;

	@media #{$breakpoint-xs-only} {
		margin-top: $main-header-height-xs;
		background: url(/assets/img/about/zipper-xs.png) center no-repeat;
		background-position-y: 33%;
	}
}
