// converting px-to-rem
$body-fs: 16px;
$body-lh: 24px;
//font-size
$fs10: 10px !important;
$fs12: 12px !important;
$fs14: 14px !important;
$fs16: 16px !important;
$fs18: 18px !important;
$fs20: 20px !important;
$fs22: 22px !important;
$fs24: 24px !important;
$fs26: 26px !important;
$fs28: 28px !important;
$fs30: 30px !important;
$fs32: 32px !important;
$fs36: 36px !important;
$fs38: 38px !important;
$fs40: 40px !important;
$fs42: 42px !important;
$fs48: 48px !important;
$fs50: 50px !important;
$fs60: 60px !important;
$fs64: 64px !important;
$fs80: 80px !important;
$fs96: 96px !important;

//line-height
$lh14: 14px !important;
$lh16: 16px !important;
$lh17: 17px !important;
$lh20: 20px !important;
$lh21: 21px !important;
$lh24: 24px !important;
$lh26: 26px !important;
$lh27: 27px !important;
$lh28: 28px !important;
$lh30: 30px !important;
$lh31: 31px !important;
$lh32: 32px !important;
$lh34: 34px !important;
$lh40: 40px !important;
$lh50: 50px !important;
$lh62: 62px !important;
$lh64: 64px !important;
$lh70: 70px !important;
$lh100: 100% !important;
$lh110: 110% !important;
$lh120: 120% !important;
$lh130: 130% !important;

//colors
$black: rgba(0, 0, 0, 1);
$blue: rgba(0, 123, 167, 1);
$blue-lighten: rgba(75, 194, 225, 1);
$white: rgba(255, 255, 255, 1);

$white-80: rgba($white, 0.8);
$white-65: rgba($white, 0.65);
$white-16: rgba($white, 0.16);
$white-10: rgba($white, 0.1);

// Neutrals
$neutral: #1e1f1f;
$neutral-80: rgba($neutral, 0.8);
$neutral-56: rgba($neutral, 0.56);
$neutral-36: rgba($neutral, 0.36);
$neutral-32: rgba($neutral, 0.32);
$neutral-16: rgba($neutral, 0.16);
$neutral-12: rgba($neutral, 0.12);
$neutral-8: rgba($neutral, 0.08);
$neutral-4: rgba($neutral, 0.04);
$surface: #f2f3f7;

// Primary colors
$primary: #029d9c;
$primary-lighten: #5ed8d9;
$primary-darken: #008483;

$secondary: #a244ed;
$secondary-lighten: #a8aff9;

$tertiary: #f3ea02;

$error: #e20b73;
$error-lighten: #f5678b;

$warning: #ff7324;
$warning-lighten: #ff7324;
$warning-additional: #ff6394;


//bg-color
$bg-colors: (
	"black": $black,
	"white": $white,
	"surface": $surface,
	"neutral": $neutral,
	"neutral-4": $neutral-4,
	"tertiary": $tertiary,
	"secondary": $secondary,
	"primary": $primary,
	"warning": $warning
);

// Header height
$main-header-height: 73px;
$main-header-height-xs: 52px;
