@use "../base/vars" as *;
@use "../abstracts/variables" as *;

.hero-section {
	height: 657px;
	margin-top: $main-header-height;
	background-image: url(../img/about/zipper.png);
	background-size: cover;
	// color: $neutral-80;

	@media #{$breakpoint-xs-only} {
		margin-top: $main-header-height-xs;
	}
}