@use "../base/vars" as *;
@use "../abstracts/variables" as *;

.accordion {
	&__title {
		display: flex;
		align-items: center;
		padding: 1.5rem 0.8rem;
		border-bottom: 1px solid $neutral-32;
		color: $neutral;
		cursor: pointer;
		transition: all 0.3s ease;

		svg {
			flex-shrink: 0;
			margin-left: auto;
			width: 36px;
			height: 36px;

			path {
				fill: #1e1f1f;
				transition: fill 0.3s ease;
			}
		}

		&:has(+ .show) {
			color: $primary;
			border-bottom: none;

			& path {
				fill: $primary;
			}
		}
	}

	&__num {
		display: inline-block;
		align-self: flex-start;

		@media #{$breakpoint-xs-only} {
			margin-top: 10px;
		}
	}

	&__container {
		display: none;
		overflow: hidden;

		&.show {
			display: block;
		}
	}

	&__content {
		padding: 0 0 2rem 4rem;
		border-bottom: 1px solid $neutral-32;
	}
}

