@use "../base/vars" as *;
@use "../abstracts/variables" as *;

.hint {
	position: relative;
	padding: 24px 40px;
	background: white;
	font-weight: 650;
	color: $secondary;
	border: 2px solid $secondary;
	border-radius: 16px;

	&::after {
		content: "";
		position: absolute;
		top: 8px;
		right: 8px;
		width: 20px;
		height: 20px;
		background: url(../svg/star.svg) center no-repeat;
	}

	@media #{$breakpoint-xs-only} {
		padding: 16px 24px;

		&::after {
			content: "";
			position: absolute;
			top: 6px;
			right: 6px;
			width: 16px;
			height: 16px;
			background: url(../svg/star.svg) center no-repeat;
		}

	}
}
