@use "../base/vars" as *;
@use "../abstracts/variables" as *;

.list {

	&__ol {
		counter-reset: li;
		padding: 0;
		margin-bottom: 0;
		list-style: none;

		&--item {
			position: relative;
			margin-bottom: 10px;
			padding-left: 24px;

			&:last-child {
				margin-bottom: 0px;
			}

			&:before {
				content: counter(li) ".";
				counter-increment: li;
				position: absolute;
				top: 0;
				left: 0;
				color: rgba(30, 31, 31, 0.8);
				font-variant: tabular-nums;
			}
		}
	}

	&__ul {
		padding: 0;
		margin-bottom: 0;
		list-style: none;

		&--item {
			position: relative;
			margin-bottom: 10px;
			padding-left: 1.75em;

			&:last-child {
				margin-bottom: 0px;
			}

			&:before {
				content: "✦";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				color: rgba($secondary, 1);
			}
		}

		&_monochrome {
			.list__ul {
				&--item,
				&--dash {
					&::before {
						color: inherit;
					}
				}
			}
		}
	}
}

