@use "../base/vars" as *;
@use "../abstracts/variables" as *;

.tab {
	&__item {
		display: none;

		&.active {
			display: block;
		}
	}

	&__nav {
		padding: 0;
		margin: 0;
	}

	&__btn {
		cursor: pointer;
		display: block;
		list-style: none;
		transition: 0.15s;
		padding: 5px 20px;
		background-color: rgba($primary, 1);
		border-right: 1px solid rgba($white, 1);
		color: rgba($white, 1);

		@media (hover: hover) {
			&:hover {
				background-color: rgba($primary, 0.5);
			}
		}

		&.active {
			background-color: rgba($primary, 0.5);
		}
	}

	&__items {
		border: 1px solid rgba($primary, 1);
		padding: 20px;
	}

	&_playlist {
		.tab {
			&__items {
				padding: 0;
				border: none;
			}

			&__nav {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 16px;

				@media #{$breakpoint-xs-only} {
					grid-template-columns: 1fr;
				}
			}

			&__btn {
				padding: 2.5rem 1.5rem;
				border-radius: 1rem;
				border: 1px solid $neutral-12;
				background: $neutral-4;
				color: $neutral;

				&.active {
					background: $white;
				}

				@media (hover: hover) {
					&:hover {
						background: $white;
					}
				}

				@media #{$breakpoint-xs-only} {
					padding: 20px 12px;
					display: flex;
					justify-content: flex-start;
					align-items: center;

					& > img {
						flex-shrink: 0;
						width: 56px;
						height: 56px;
						margin: 0;
					}

					&_block-xs {
						display: block;

						& > img {
							width: auto;
							height: auto;
							margin: 0 auto;
						}
					}
				}
			}

			&__list {
				counter-reset: li;

				&-item {
					cursor: pointer;
					display: flex;
					align-items: center;
					padding: 1.25rem 0.75rem;
					border-bottom: solid 1px $neutral-16;
					transition: color 0.3s ease;

					svg {
						align-self: center;
						margin-left: auto;
						width: 36px;
						height: 36px;

						path {
							fill: #1e1f1f;
							transition: fill 0.3s ease;
						}
					}

					&::before {
						content: "0" counter(li);
						counter-increment: li;
						display: inline-block;
						align-self: flex-end;
						margin-right: 2rem;
						font-size: $fs16;
					}

					@media (hover: hover) {
						&:hover {
							color: $primary;

							& path {
								fill: $primary;
							}
						}
					}

					&.active {
						color: $primary;

						& path {
							fill: $primary;
						}
					}
				}
			}
		}
	}
}

