@use "../../assets/styles/base/vars" as *;
@use "../../assets/styles/abstracts/variables" as *;

.checkbox-answers {
    &__grid {
        display: grid;
        gap: 16px;
    }

    &__answer {

        & > input[type="checkbox"] {
            display: none;
            appearance: none;

            & + label {
                position: relative;
                display: flex;
                height: 100%;
                padding: 40px 24px;
                justify-content: space-around;
                align-items: center;
                background: $neutral-4;
                border-radius: 40px;
                font-size: $fs24;
                line-height: $lh120;
                text-align: center;
                cursor: pointer;
                user-select: none;
                transition: 0.3s;

                &::after {
                    content: '';
                    position: absolute;
                    top: 24px;
                    right: 24px;
                    width: 34px;
                    height: 34px;
                    background-image: url('../../assets/svg/star.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    transform: scale(0) rotate(180deg);
                    transition: 0.3s;
                }
            }

            &:checked {
                & + label {
                    background: $white;

                    &::after {
                        transform: scale(1) rotate(0deg);
                    }
                }
            }

            &:disabled {
                & + label {
                    cursor: default;
                    opacity: 0.7;
                }
            }
        }

        @media #{$breakpoint-xs-only} {
            & > input[type="checkbox"] {
                & + label {
                    padding: 20px 8px;
                    border-radius: 32px;
                    font-size: $fs24;
                }
            }
        }
    }
}
