@use "../../assets/styles/base/vars" as *;
@use "../../assets/styles/abstracts/variables" as *;

.double-question {
    &__answer-history {
        display: flex;
        gap: 8px;

        &__marker {
            width: 34px;
            height: 34px;

            &_inactive {
				path {
					stroke: $neutral-12;
					fill: $neutral-12;
				}
            }

            &_current {
				path {
					stroke: $secondary;
					fill: $secondary;
				}
            }

            &_correct {
                path {
					stroke: $primary;
					fill: $primary;
				}
            }

            &_incorrect {
				path {
					stroke: $error;
					fill: $error;
				}
            }
        }
    }

    &__answer {

        & > input[type=radio] {
            & + label {
                padding: 12px 20px;
                border: none;
                background-color: $surface;
                border-radius: 12px;;
                font-size: $fs16;
                line-height: $lh130;
            }

            &:disabled + label {
                opacity: 1;
            }
        }

        &_correct {
            & > input[type=radio]:checked {
                & + label {
                    background-color: $primary-lighten !important;
                    // color: $white !important;
                }
            }
        }

        &_incorrect {
            & > input[type=radio]:checked {
                & + label {
                    background-color: $error-lighten !important;
                    // color: $white;
                }
            }
        }
    }
}
.album-restyle {
    &_2 {
        .pair-question {
            &__answer-history {        
                &__marker {
                    &_current {
                        color: $primary;
                        stroke: $primary;
                    }
        
                    &_correct {
                        color: $primary;
                        stroke: $primary;
                    }
        
                    &_incorrect {
                        color: $error;
                        stroke: $error;
                    }
                }
            }
        }
    }
    &_3 {
        #pair-question-app {
            & .balloon .text-semibold {
                // font-family: $Medium;
            }
        }

        .pair-question {
            &__answer-history {        
                &__marker {
                    &_current {
                        // color: $secondary3;
                        stroke: $black;
                    }
        
                    &_correct {
                        color: $primary;
                        stroke: $primary;
                    }
        
                    &_incorrect {
                        color: $error;
                        stroke: $error;
                    }
                }
            }
            &__answer {
                & > input[type=radio] {
                    & + label {
                        border: 1px solid $neutral;
                        border-radius: 40px;
                        // background-color: $neutral-4;
                    }
                }
                &_correct {
                    & > input[type=radio]:checked {
                        & + label {
                            // background-color: $secondary3;
                        }
                    }
                }
            }
        }
        .container_with-button {
            background-color: $white;
            border-radius: 48px;
            padding: 60px;
            box-shadow: none;
			border-bottom: 12px solid $neutral !important;
            
            @media (max-width: 719px) {
                padding: 2rem 1.5rem;
            }

            & .container {
                padding: 0;
                &_with-bg {
                    padding: 0;
                    outline: none;
                    outline-offset: 0;
                }
            }
            & .btn-container {
                & .btn {
                    text-transform: math-auto;
                }

                &.mb-rem-4-0 {
                    margin-bottom: 0 !important;
                    margin-top: 40px;
    
                    &.mb-xs-rem-1-50 {
                        @media (max-width: 719px) {
                            margin-bottom: 0 !important;
                            margin-top: 50px;
                        }
                    }
    
                    & .btn_back {
                        background-color: transparent;
                        border: 1px solid $neutral-56;
                        border-bottom: 6px solid $neutral-56;
                        & .btn__text {
                        color: $neutral-80;
                        }
                    }

                    & .btn_next {
                        & .btn__text {
                            color: $black;
                        }
                    }
                }
            }

            & .balloon {
                border-radius: 16px;
                &.balloon_white.balloon_small {
                    border: 1px solid $neutral-12;

                    &::after {
                        display: none;
                    }
                }
            }
        }
        
        &_4 {
            .pair-question__answer>input[type=radio]+label {
                padding: 12px 17px;
            }

            .pair-question {
                &__answer-history {        
                    display: none;
                }

                &__title {
                    @media (max-width: 719px) {
                        font-size: 20px !important;
                    }
                }

                &_correct {
                    & > input[type=radio]:checked {
                        & + label {
                            background-color: $primary !important;
                            color: $neutral !important;
                        }
                    }
                }
                
                &_incorrect {
                    & > input[type=radio]:checked {
                        & + label {
                            background-color: $error !important;
                            color: $neutral !important;
                        }
                    }
                }
                
                &__answer {
                    & > input[type=radio] {
                        & + label {
                            border: 1px solid $neutral;
                            border-bottom: 6px solid $neutral;
                            border-radius: 40px;
                            background-color: $white;
                            font-size: 14px !important;
                        }
                    }

                    & > input[type=radio]:checked {
                        & + label {
                            color: $neutral !important;
                        }
                    }
                }
            }

            #pair-question-app {
                & .btn-container.mb-xs-rem-1-50 {
                    @media (max-width: 719px) {
                        margin-top: 0px;
                    }
                }
                & .balloon {
                    &.balloon_white.balloon_small {
                        border: 1px solid $neutral !important;
                        padding: 12px 20px;
        
                        &::after {
                            display: none;
                        }
                    }
    
                    &_white {
                        background: $neutral-12 !important;
                    }
                }
            }
        }
    }
    &_4 {
        
    }
}