@use "../../assets/styles/base/vars" as *;
@use "../../assets/styles/abstracts/variables" as *;

.double-question {
    &__answer-history {
        display: flex;
        gap: 8px;

        &__marker {
            width: 34px;
            height: 34px;

            &_inactive {
				path {
					stroke: $neutral-12;
					fill: $neutral-12;
				}
            }

            &_current {
				path {
					stroke: $secondary;
					fill: $secondary;
				}
            }

            &_correct {
                path {
					stroke: $primary;
					fill: $primary;
				}
            }

            &_incorrect {
				path {
					stroke: $error;
					fill: $error;
				}
            }
        }
    }

    &__answer {
        & > input[type=radio] {
            & + label {
                padding: 12px 20px;
                border: none;
                background-color: $surface;
                border-radius: 12px;;
                font-size: $fs16;
                line-height: $lh130;
            }

            &:disabled + label {
                opacity: 1;
            }
        }

        &_correct {
            & > input[type=radio]:checked {
                & + label {
                    background-color: $primary-lighten !important;
                }
            }
        }

        &_incorrect {
            & > input[type=radio]:checked {
                & + label {
                    background-color: $error-lighten !important;
                }
            }
        }
    }
}
