@use "../base/vars" as *;
@use "../abstracts/variables" as *;
@use "../layout/grid" as *;

.text {
	font-weight: 500;

	&:last-child {
		margin-bottom: 0px;
	}

	& + &,
	& + .btn {
		margin-top: 10px;
	}

	&-64-40 {
		font-size: $fs64;
		line-height: $lh100;

		@media #{$breakpoint-xs-only} {
			font-size: $fs40;
			line-height: $lh100;
		}
	}

	&-64-32 {
		font-size: $fs64;
		line-height: $lh130;

		@media #{$breakpoint-xs-only} {
			font-size: $fs32;
			line-height: $lh120;
		}
	}

	&-xl {
		font-size: $fs32;
		line-height: $lh130;

		@media #{$breakpoint-xs-only} {
			font-size: $fs24;
			line-height: $lh120;
		}
	}

	&-l {
		font-size: $fs24;
		line-height: $lh130;

		@media #{$breakpoint-xs-only} {
			font-size: $fs20;
			line-height: $lh130;
		}
	}

	&-m {
		font-size: $fs20;
		line-height: $lh130;

		@media #{$breakpoint-xs-only} {
			font-size: $fs16;
			line-height: $lh130;
		}
	}

	&-s {
		font-size: $fs16;
		line-height: $lh130;

		@media #{$breakpoint-xs-only} {
			font-size: $fs14;
			line-height: $lh130;
		}
	}

	&-xs {
		font-size: $fs14;
		line-height: $lh130;

		@media #{$breakpoint-xs-only} {
			font-size: $fs12;
			line-height: $lh130;
		}
	}

	&-nowrap {
		white-space: nowrap;
	}

	// Alignment
	&-left {
		text-align: left;
	}

	&-center {
		text-align: center;
	}

	&-right {
		text-align: right;
	}

	// Font weight
	&-bold {
		font-weight: 700;
	}

	&-semibold {
		font-weight: 600;
	}

	&-regular {
		font-weight: 400;
	}

	&-light {
		font-weight: 300;
	}

	// Italic
	&-italic {
		font-family: "NunitoSansItalic", sans-serif;
	}

	// Uppercase
	&-uppercase {
		text-transform: uppercase;

		@media #{$breakpoint-xs-only} {
			&-xs {
				text-transform: uppercase;
			}
		}
	}

	// Colors
	&-white {
		color: $white !important;
	}

	&-surface {
		color: $surface !important;
	}

	&-red {
		color: $error !important;
	}

	&-neutral {
		color: $neutral !important;
	}

	&-gray-1 {
		color: $neutral-80 !important;
	}

	&-gray-2 {
		color: $neutral-56 !important;
	}

	&-gray-3 {
		color: $neutral-32 !important;
	}

	&-primary,
	&-green {
		color: rgba($primary, 1) !important;
	}

	&-primary-darken {
		color: rgba($primary-darken, 1) !important;
	}

	&-secondary {
		color: rgba($secondary, 1) !important;
	}

	&-error {
		color: rgba($error, 1) !important;
	}

	&-white-80 {
		color: $white-80 !important;
	}

	@media #{$breakpoint-xs-only} {
		&-xs-left {
			text-align: left !important;
		}

		&-xs-center {
			text-align: center;
		}

		&-xs-right {
			text-align: right !important;
		}
	}
}
