@use "../base/vars" as *;
@use "../abstracts/variables" as *;

h1,
h2,
h3,
.h1,
.h2,
.h3 {
	font-weight: 700;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
	font-weight: 600;
}

h1,
.h1 {
	font-size: $fs80;
	line-height: $lh100;

	@media #{$breakpoint-xs-only} {
		font-size: $fs48;
		line-height: $lh100;
	}

	&-96-80 {
		font-size: $fs96;
		line-height: $lh100;

		@media #{$breakpoint-xs-only} {
			font-size: $fs80;
			line-height: $lh100;
		}
	}

	&-96-40 {
		font-size: $fs96;
		line-height: $lh100;

		@media #{$breakpoint-xs-only} {
			font-size: $fs40;
			line-height: $lh100;
		}
	}

	&-80-48 {
		font-size: $fs80;
		line-height: $lh100;

		@media #{$breakpoint-xs-only} {
			font-size: $fs48;
			line-height: $lh100;
		}
	}

	&-64-48 {
		font-size: $fs64;
		line-height: $lh100;

		@media #{$breakpoint-xs-only} {
			font-size: $fs48;
			line-height: $lh100;
		}
	}

	&-64-36 {
		font-size: $fs64;
		line-height: $lh100;

		@media #{$breakpoint-xs-only} {
			font-size: $fs36;
			line-height: $lh100;
		}
	}
}

h2,
.h2 {
	font-size: $fs40;
	line-height: $lh110;

	@media #{$breakpoint-xs-only} {
		font-size: $fs32;
		line-height: $lh110;
	}

	&-48-32 {
		font-size: $fs48;
		line-height: $lh110;

		@media #{$breakpoint-xs-only} {
			font-size: $fs32;
			line-height: $lh110;
		}
	}
}

h3,
.h3 {
	font-size: $fs36;
	line-height: $lh120;

	@media #{$breakpoint-xs-only} {
		font-size: 28px !important;
		line-height: 120% !important;
	}
}

h4,
.h4 {
	font-size: $fs32;
	line-height: $lh130;

	@media #{$breakpoint-xs-only} {
		font-size: $fs24;
		line-height: $lh120;
	}
}

h5,
.h5 {
	font-size: $fs24;
	line-height: $lh120;

	@media #{$breakpoint-xs-only} {
		font-size: $fs20;
		line-height: $lh120;
	}
}

h6,
.h6 {
	font-size: $fs16;
	line-height: $lh120;

	@media #{$breakpoint-xs-only} {
		font-size: $fs14;
		line-height: $lh120;
	}
}

.fw-800 {
	font-weight: 800;
}
