@use "../../assets/styles/base/vars" as *;
@use "../../assets/styles/abstracts/variables" as *;

.header {
	position: fixed;
	top: 0;
	right: 10px;
	left: 0;
	z-index: 15;
	background-color: rgba($surface, 0.5);
	backdrop-filter: blur(10px);

	@media #{$breakpoint-xs-only} {
		right: 0;
	}

	&-nav {
		height: calc(100dvh - $main-header-height) !important;
		max-width: 1280px;
		margin: auto;
		display: flex;

		@media #{$breakpoint-xs-only} {
			flex-direction: column;
			height: calc(100dvh - $main-header-height-xs) !important;
		}

		&__tabs {
			display: flex;

			@media #{$breakpoint-lg-only} {
				width: 240px;
				height: 100%;
				flex-direction: column;
				padding: 2rem 1rem;
				border-right: solid 1px $neutral-16;
			}

			@media #{$breakpoint-xs-only} {
				padding: 1rem 1rem 0 1rem;
				border-bottom: solid 1px $neutral-16;
				gap: 16px;
			}
		}

		&__tab {
			position: relative;
			width: 100%;
			padding: 12px 20px;
			display: flex;
			align-items: center;
			color: $neutral-56;
			border-radius: 12px;
			overflow: hidden;
			transition: 0.3s;
			cursor: pointer;

			@media (hover: hover) {
				&:hover {
					color: $neutral;
				}
			}

			&_active {
				background: $primary;
				color: $white;

				&::before {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 0;
					background: rgba($primary-lighten, 0.5);
					transition: 0.3s ease-in-out;
				}

				span,
				img {
					z-index: 1;
				}

				img {
					opacity: 0.7;
				}

				@media (hover: hover) {
					&:hover {
						color: $white;

						&::before {
							width: 100%;
						}
					}
				}
			}

			.icon {
				flex-shrink: 0;
			}

			@media #{$breakpoint-xs-only} {
				width: fit-content;
				padding: 0;
				padding-bottom: 8px;
				border-radius: 0;

				&_active {
					background: transparent;
					color: $neutral;

					&::before {
						background: $primary;
						top: auto;
						bottom: 0;
						height: 2px;
						width: 100%;
					}
				}
			}
		}

		&__content {
			width: 100%;
			height: 100%;
			padding: 2rem;

			@media #{$breakpoint-xs-only} {
				width: 100%;
				max-width: none;
				padding: 1rem;
			}


			&_articles {
				height: 100% !important;
				display: flex;
				justify-content: center;
			}

			@media #{$breakpoint-xs-only} {
				.article-wrapper {
					display: grid;
					grid-template-columns: 1fr 1fr;
					gap: 12px;
				}
			}
		}

		&__album-info {
			display: flex;
			width: 100%;
			border-bottom: solid 1px $neutral-16;

			@media #{$breakpoint-xs-only} {
				display: block;
				padding: 1rem;
			}
		}

		&__album-name {
			flex-shrink: 0;
			width: 384px;
			padding: 1.5rem;
			border-right: solid 1px $neutral-16;

			@media #{$breakpoint-xs-only} {
				width: auto;
				padding: 0 0 12px 0;
				border-right: none;
			}
		}

		&__album-description {
			padding: 1.5rem;

			@media #{$breakpoint-xs-only} {
				padding: 0;
			}
		}

		&__articles {
			width: 100%;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		padding: 0 40px;
		border-bottom: solid 1px $neutral-16;
		max-width: 1280px;
		margin: 0 auto;
		height: $main-header-height;

		@media #{$breakpoint-xs-only} {
			padding: 0 16px;
			height: $main-header-height-xs;
		}
	}

	div:has(> .header__logo) {
		display: flex;
		width: 100%;
	}

	&__logo {
		flex-shrink: 0;
		margin-right: 1.5rem;

		@media #{$breakpoint-xs-only} {
			display: flex;
			align-items: center;
			margin-right: 0.5rem;
		}
	}

	&__title {
		width: 100%;
		flex-grow: 0;
		font-weight: 600;
		font-size: $fs16;
		line-height: $lh130;
		margin-top: auto;
		white-space: normal;

		@media #{$breakpoint-xs-only} {
			font-size: $fs14;
			line-height: $lh100;
		}

		& > div {
			display: flex;
			align-items: end;

			& > img {
				flex-shrink: 0;
				margin-right: 0.5rem;

				@media #{$breakpoint-xs-only} {
					width: 1rem;
					margin-right: 0.25rem;
				}
			}
		}

		&__text {
			width: 100%;
		}
	}

	&__btn {
		cursor: pointer;
		padding: 0;
		width: 128px;
		flex-shrink: 0;
		padding: 8px 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: solid 1px $neutral-12;
		background-color: $white;
		border-radius: 8px;

		.icon-svg {
			width: 24px;
			height: 24px;
			fill: $neutral;
			&_close {
				display: none;
			}

			@media #{$breakpoint-lg-only} {
				&:first-child {
					margin-right: 8px;
				}

				&:not(:first-child) {
					margin-left: 8px;
				}
			}
		}

		&.open {
			.icon-svg {
				&_close {
					display: block;
				}
				&_menu {
					display: none;
				}
			}
		}

		&_secondary {
			background-color: $white;
		}

		@media (hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}

		@media #{$breakpoint-xs-only} {
			width: 36px;
			height: 36px;
			padding: 6px;

			.icon-svg {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	&__progressbar {
		align-self: center;
		width: 100%;
		height: 2px;
		background-color: $neutral-32;

		&-line {
			width: 10%;
			height: 100%;
			background-color: rgba($primary, 1);
		}
	}

	&_expanded {
		height: 100dvh;
		background-color: $surface;
		backdrop-filter: none;
		z-index: 13;

		&-article {
			background-color: rgba($black, 0.4);

			.header-nav {
				height: 100% !important;
			}
		}
	}
}

.navigation {
	&__play-icon {
		position: absolute;
		top: calc(50% - 32px);
		left: calc(50% - 32px);
		width: 48px;
		height: 48px;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.4s ease-in;
	}

	.router-link-exact-active {
		.navigation__current-marker {
			width: max-content;
			padding: 4px 12px;
			background-color: $secondary;
			border-radius: 16px;

			&_near {
				display: block;
				position: relative;
				&.navigation__current-marker {
					bottom: 0;
				}
			}
		}
	}

	&__btn-back {
		position: absolute;
		top: 40px;
		right: 40px;
		padding: 8px 16px;
		border: solid 1px $neutral-12;
		background-color: $white;
		border-radius: 8px;
		text-align: center;
		cursor: pointer;

		& > svg {
			width: 24px;
			height: 24px;
			margin-right: 8px;
			vertical-align: middle;
		}

		@media #{$breakpoint-xs-only} {
			top: auto;
			right: 16px;
			left: 16px;
			bottom: 16px;
		}
	}

	&__links {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px;

		@media #{$breakpoint-xs-only} {
			grid-auto-flow: initial;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			gap: 12px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		cursor: pointer;

		&__img {
			flex-shrink: 0;

			& > img {
				width: 64px;
				height: 64px;
				object-fit: cover;
			}
		}
		@media (hover: hover) {
			&:hover {
				.navigation__play-icon {
					opacity: 0.8;
				}
			}
		}
	}
}

.materials {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;

	@media #{$breakpoint-xs-only} {
		display: block;
	}

	&__btn {
		position: relative;
		border-radius: 12px;
		color: $white;
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("../../assets/img/menu/materials/materials-bg.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			pointer-events: none;
		}

		&:nth-child(1) {
			background: linear-gradient(270deg, rgba($error-lighten, 0.7) 0%, $error 100%);
		}

		a {
			position: relative;
			display: block;
			padding: 1.5rem 1rem;
			text-decoration: none;
			color: $white;
		}
	}
}

.header-article {
	&__container {
		width: 792px;
		max-width: 100%;
		height: auto;
		max-height: calc(100% - 120px);
		display: flex;
		flex-direction: column;
	}

	&__content {
		position: relative;
		margin-right: -20px;
		padding-right: 20px;

		@media #{$breakpoint-xs-only} {
			margin-right: -10px;
			padding-right: 10px;
		}
	}

	&__title {
		display: flex;
		align-items: baseline;

		& > :first-child {
			flex-grow: 1;
		}

		& > :last-child {
			flex-shrink: 0;
		}
	}
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
	transform: translateY(20px) scale(0.9);
}

.fade-enter-active,
.fade-leave-active {
	transition:
		opacity 0.4s ease-in-out,
		transform 0.4s ease-in-out;
}

.fade-enter-to,
.fade-leave-from {
	opacity: 1;
	transform: translateY(0) scale(1);
}
