@use "@/assets/styles/base/vars" as *;
@use "@/assets/styles/abstracts/variables" as *;

.radio-answers {
    &__grid {
        display: grid;
        gap: 16px;
    }

    &__answer {
        & > input[type="radio"] {
            display: none;
            appearance: none;

            & + label {
                display: flex;
                height: 100%;
                padding: 40px;
                border: solid 1px $neutral-12;
                justify-content: space-around;
                align-items: center;
                background: $neutral-4;
                border-radius: 16px;
				font-weight: 600;
                font-size: $fs24;
                line-height: $lh120;
                text-align: center;
                cursor: pointer;
                user-select: none;
                transition: 0.3s;
            }

            &:checked {
                & + label {
                    background: $neutral-16;
                }
            }

            &:disabled {
                & + label {
                    cursor: default;
                    opacity: 0.7 !important;
                }
            }
        }

        @media #{$breakpoint-xs-only} {
            & > input[type="radio"] {
                & + label {
                    padding: 20px 8px;
                    border-radius: 8px;
                    font-size: $fs20;
                }
            }
        }
    }
}
