// Grid
$grid-columns: 12 !default; // Set number of columns in the grid
$grid-columns-xs: 12 !default; // Set number of columns in the grid
$grid-columns-lg: 12 !default; // Set number of columns in the grid

$xs-max: 479px !default; // Set xs breakpoint's max width
$lg-min: 480px !default; // Set lg breakpoint's max width

$gutter: 0 12px !default; // Set gutter size
$gutter-lg: 0 12px !default; // Set gutter size
$gutter-xs: 0 8px !default; // Set gutter size

$content-well-max-width: "none" !default; // Set the max-width of the content well
$desktop-min-height: 601px !default;

$xs-start: ($xs-max); // Generate sm breakpoint's min width
$lg-start: ($lg-min); // Generate lg breakpoint's min width

// Breakpoints
// Create breakpoint range statements to be used in media queries
$breakpoint-xs-only: "only screen and (max-width: #{$xs-start}), only screen and (orientation: landscape) and (max-height: 500px)";
$breakpoint-phone-landscape: "only screen and (orientation: landscape) and (max-height: 500px)";

// 0 -> xs-max range
$breakpoint-lg-only: "only screen and (min-width: #{$lg-min}) and (min-height: #{$desktop-min-height})"; // lg-start -> lg-max range

$breakpoints-all: ($breakpoint-xs-only, $breakpoint-lg-only);

$breakpoint-all-prefixes: ("xs", "lg");
$breakpoint-up-prefixes: ("xs", "lg");

$font-family-base: "NunitoSans", sans-serif;
